@import "mixins";
@import "reset";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");


.nav-list-item:first-child a{
  color: #57a4a4;
}

@media  (min-width: 993px) {
  .menu {
    display: none;
  }
  .nav-list {
    @include flex-center;
    padding-top: 45px;
    padding-bottom: 51px;
  }
  .nav-list-item {
    margin-right: 68px;
  @include text-style;
    font-weight: normal;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #4e4e4e;
  }

  .image-road {
    @include flex-center;
    padding-bottom: 19px;
  }
  .image-road img {
    width: 1170px;
    height: 550px;
  }
  .flex-photo {
    @include flex-center;
  }
  .flex-photo img {
    padding-right: 10px;
  }
}
.instagram-photo {
  background: #f2f3f4;
  padding-bottom: 49px;
}
.heading-our-recent {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  text-transform: uppercase;
  color: #4e4e4e;
  padding: 47px 180px 24px 170px;

}
.instagram-photo-text {
  display: flex;
  justify-content: space-between;
  @include text-style;
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  text-transform: uppercase;
  color: #4e4e4e;
  padding: 47px 180px 24px 170px;
}
footer {
  padding-top: 66px;
  background: #000000;
  height: 355px;
  color: #b9b9b9;
  text-align: center;
}
.text-content-footer {
  @include text-style;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #fefefe;
}

.text-content-footer img {
  padding-bottom: 34px;
}
.text-content-footer div:nth-child(2n) {
  @include text-style;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #b9b9b9;
  padding-top: 22px;
  padding-bottom: 15px;
}
.content {
  @include flex-center;
  flex-wrap: wrap;
}
.text {
  display: flex;
  flex-direction: column;
}
.content-block {
  @include text-style;
  display: flex;
  width: 555px;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: flex-start;
  color: #7c7c7c;
  margin-right: 25px;
}
.text h1 {
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
  color: #4e4e4e;
}
.text span {
  color: #7c7c7c;
  font-size: 12px;
  line-height: 20px;
  font-weight: normal;
}
.text p {
  font-size: 14px;
  line-height: 26px;
  color: #5c5c5c;
  font-weight: normal;
}
.content-block img {
  padding-right: 30px;
  padding-bottom: 32px;
}

.content-block h1 {
  font-size: 16px;
  line-height: 30px;
  color: #4e4e4e;
}
.content {
  margin-bottom: 37px;
}

@media  (min-width:481px) and (max-width: 992px) {
  .menu {
    display: none;
  }
  .nav-list {
    @include flex-center;
    padding-top: 41px;
    padding-bottom: 43px;
  }
  .nav-list-item {
    margin-right: 34px;
    @include text-style;
    font-weight: normal;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #4e4e4e;
  }
  .image-road img {
    width: 720px;
  }
  .image-road {
    text-align: center;
  }
  .heading-our-recent {
    justify-content: flex-start;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 50px;
  }
  .content {
    margin-left: 50px;
    justify-content: flex-start;
  }
  .instagram-photo-text {
    padding-left: 0px;
    margin-left: 80px;
    padding-right: 80px;
  }
  .flex-photo {
    @include flex-center;
  }
  .flex-photo img:nth-child(4) {
    display: none;
  }
  .flex-photo img {
    width: 229px;
    margin-right: 9px;
  }
  footer {
    padding-top: 57px;
  }
  .text-content-footer div:nth-child(2n) {
    font-size: 13px;
  }
  .content-block {
    align-items: flex-start;
  }
}

@media  (min-width: 320px) and (max-width:480px) {
  .menu {
    text-align: end;
  }
  .menu-bottom {
    width: 44px;
    height: 37px;
    background: #000000;
    margin: 23px 25px 25px 0px;
  }
  .nav-list {
    @include flex-center;
    @include text-style;
    flex-direction: column;
    transition: transform ease-in-out 0.4s;
    overflow: hidden;
    position: absolute;
    z-index: 99999;
    margin-top: 0;
    font-weight: normal;
    font-size: 11px;
    line-height: 22px;
    align-items: center;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #4e4e4e;
    width: 182px;
    height: 170px;
    right: 25px;
    top: 60px;
    background: #f5f5f5;
  }
  .menu-bottom.active {
    transform: translateX(0);
  }
  .image-road img {
    width: 320px;
    height: 150px;
  }
  .image-road {
    text-align: center;
  }
  .heading-our-recent {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 20px;
  }
  .content {
    margin-left: 20px;
    margin-bottom: 0px;
  }
  .content-block {
    flex-wrap: wrap;
    margin-bottom: 25px;
  }
  .text p {
    display: none;
  }
  footer {
    padding-top: 20px;
  }
  .text-content-footer {
    font-size: 13px;
  }
  .text-content-footer div:nth-child(2n) {
    font-size: 11px;
  }
  .text-content-footer div:nth-child(4) {
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .flex-photo img:nth-child(-n + 4) {
    display: none;
  }
  .flex-photo img:nth-child(1) {
    display: flex;
  }
  .flex-photo {
    display: flex;
    justify-content: center;
  }
  .instagram-photo {
    background: rgba(0, 0, 0, 0.0001);
  }
  .instagram-photo-text div:nth-child(2) {
    display: none;
  }
  .instagram-photo-text div:nth-child(1) {
    font-size: 14px;
    line-height: 22px;
  }
  .instagram-photo-text {
    padding-left: 0px;
    margin-left: 40px;
    margin-right: 0px;
    padding-right: 0px;
  }
}
